@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

a.dropdown-item {
  font-family: "Montserrat", sans-serif;
}

.newsletter-signup-message {
  text-align: center;
  align-items: center;
}

.carousel-caption-heading {
  color: aliceblue;
  font-weight: 800;
  font-size: 3rem;
}

.carousel-caption-subtitle {
  color: aliceblue;
  font-weight: 600;
  font-size: 1.2rem;
}
